PORT=3333
DATABASE_URL="postgresql://user:password@localhost:5432/aura?schema=public"
FRONTEND_URL=http://localhost:5173
NODE_ENV=development

JWT_ACCESS_SECRET="your-secret-here"
JWT_ACCESS_EXPIRES_IN="15m"

AWS_REGION=sa-east-1
AWS_S3_BUCKET=your-bucket
AWS_ACCESS_KEY_ID=your-access-key
AWS_SECRET_ACCESS_KEY=your-secret-key
AWS_S3_PUBLIC_BASE_URL=https://your-bucket.s3.sa-east-1.amazonaws.com